name: "main"
on: [push]
jobs:
  install:
    runs-on: ubuntu-latest
    container: debian:latest
    steps:
      - name: execute `install.sh`
        run: bash ./install.sh

      - name: check go path
        run: which go 2>/dev/null || exit 2

      - name: check go-task path
        run: which task 2>/dev/null || exit 2

      - name: check gitleaks path
        run: which gitleaks 2>/dev/null || exit 2

      - name: check trivy path
        run: which trivy 2>/dev/null || exit 2
