name: "main"
on: [push]

defaults:
  run:
    shell: bash
    working-directory: .

jobs:
  install:
    runs-on: ubuntu-latest
    container: debian:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: execute `install.sh`
        run: bash ./install.sh

      - name: check path `go`
        run: |
          source ~/.bashrc \
          && which go 2>/dev/null || exit 2

      - name: check path `task`
        run: which task 2>/dev/null || exit 2

      - name: check path `gitleaks`
        run: which gitleaks 2>/dev/null || exit 2

      - name: check path `trivy`
        run: which trivy 2>/dev/null || exit 2
